.App {
  text-align: center;
}

.to-do-wrapper {
  margin: 20px auto 20px auto;
  width: 500px;
  min-height: 100%;
  padding: 20px;
}

/*Input*/

.btn {
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  padding: 8px;
  font-weight: bold;
}

.btn-primary {
  color: #fff;
  border-color: #fff;
  background-color: transparent;
}

input {
  color: #fff;
  width: 80%;
  border: none;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin-right: 10px;
  padding: 5px;
  line-height: 17px;
  background-color: transparent;
}

input:focus {
  color: #fff;
  outline: none;
  border: none;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background-color: transparent;
}

/*Item*/

.todoWrapper {
  border-bottom: 1px solid #fff;
  text-align: left;
  margin-bottom: 10px;
  margin-right: 40px;
}

.removeTodo {
  margin-right: 20px;
  margin-bottom: 10px;
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  padding: 8px;
  color: #fff;
  border-color: red;
  background-color: red;
  font-weight: bold;
}
